<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="{% static 'mytheme.css' %}">
</head>
<body>
    {% block menu %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <div id="footer">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, odio ea itaque pariatur
         aperiam sapiente autem commodi asperiores perferendis accusamus.

    </div>
    
</body>
</html>